.btn {
    background-color: var(--neogreen);
    color: var(--black);
    padding: 0.7rem 1.5rem;
    border-radius: 3rem;
    font-weight: 600;
    order: 2px solid var(--neogreen);
    cursor: pointer;
    text-align: center;
    min-width: 100px;
    text-transform: capitalize;
}

.btn:hover {
    box-shadow: 5px 5px 10px rgba(50, 128, 233, 0.5);
    transition: all 0.3s;
}

.outline-btn {
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--neogreen);
    padding: 0.7rem 1.5rem;
    border-radius: 3rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    min-width: 100px;
}

.outline-btn:hover {
    background-color: var(--neogreen);
    color: var(--black);
    transition: all 0.3s;
}