.coin-info-desc {
  padding-bottom: 1rem;
  cursor: pointer;
}

.coin-info-heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.coin-info-desc a {
  color: var(--neogreen) !important;
  text-decoration: underline !important;
}
